body {
  background-color: #ffffff;
  color: #00000;
  font-size: 16px;
  line-height:normal;

}
hl {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}
p {
  font-size: 18px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.nav-link a{
  color: #212121;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  text-decoration: none;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
a:hover {
 color: #008BE1;
}
